#resume img{
  position: absolute;
  width: 800px; /*the image width*/
  height: 900px; /*the image height*/
  left: 35%;
  top: 40%;
  margin-left: -250px; /*half the image width*/
  margin-top: -250px; /*half the image height*/
}

body a {
  position: relative;
  text-decoration: none;
/*  font-family: 'Chalkduster';*/
  color: aliceblue
}

body {
    background-color: grey;
}

ul {
    list-style-type: square;
    color: aliceblue;
}