#resume img{
  position: absolute;
  width: 800px; /*the image width*/
  height: 900px; /*the image height*/
  left: 35%;
  top: 40%;
  margin-left: -250px; /*half the image width*/
  margin-top: -250px; /*half the image height*/
}

body a {
  position: relative;
  text-decoration: none;
/*  font-family: 'Chalkduster';*/
  color: aliceblue
}

body {
    background-color: silver;
}

ul {
    list-style-type: none;
/*    color: aliceblue;*/
}

#construction img {
    position: absolute;
    top: 26px;
    right: 134px;
}

/*
nav a {
    position: relative;
    left: 0px;
    display: inline-block;
}*/

.home {
    position: absolute;
    top: 13px;
    left: 4px;
}

.hat {
    position: absolute;
    top: 45px;
    left: 0px;
    
}

.resume {
    position: absolute;
    top: 85px;
    left: 5px;
}